@import "fonts";
@import "libs";
@import "vars";

*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
    color: #666;
}

body input:required:valid,
body textarea:required:valid {
    color: #666;
}

html,
body {
    height: 100%;
}
a{
    color:inherit;
    text-decoration: none;
}
a:hover,
a:focus,
a:active{
    color: inherit;
    text-decoration: none;
}
body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: $default-font;
    overflow-x: hidden;
    opacity: 1;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    overflow-x: hidden;
    outline: none;
}

html {
    background-color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    color: #fff;
    z-index: 1000;
    height: 135px;
    overflow: hidden;
    transition: height .3s;
    text-align: center;
    line-height: 160px;
    display: flex;
}

.header.shrink {
    height: 100px;
    line-height: 80px;
    top: 0;
}

.header h1 {
    font-size: 30px;
    font-weight: normal;
    transition: all 0.3s;
}

.header.shrink h1 {
    font-size: 24px;
    transition: all 0.3s;
}
@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-bg {
    height: 100vh;
    background-image: url(../img/bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
@include flexCenter;
    flex-direction: column;
}


.pre-header {
    background-color: #e3e4e6;
    height: 35px;
@include flexCenter;
    padding: 0;
    position: absolute;
    width: 100%;
    left: 0;
    color: black;
    top: 0;
    transition: 300ms;
}
.pre-headerContent {
@include flexCenter;
flex-direction: row;

}
.pre-headerContent-left{
width: 35%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    height: 35px;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.pre-headerContent-right {
    width: 65%;
    display: flex;
    align-items: center;
    height: 35px;
    justify-content: flex-end;

}
.social-stack-single{
    height: 25px;
    width: 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
    
}
.yt{
    background-image: url(../img/yt.png);
}
.fb{
    background-image: url(../img/fb.png);
}
.inst{
    background-image: url(../img/inst.png);
}
.solial-stack {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer
}
.header-phone {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #0e081d;
    height: 100%;
    line-height: 35px;
}
.index-bg2{
    height: 100vh;
}
.shrink .pre-header {
    height: 0;
    overflow: hidden;
    transition: 300ms;
}
.header-second {
    height: 100px;
    display: flex;
    padding: 0;
    margin-top: 35px;
    transition: 300ms;
    justify-content: space-between;
}
.header-logo {
    vertical-align: top;
    height: 80px;
    width: 80px;
}
.header-left {
    display: flex;
    align-items: center;
    width: 60%;
}
.shrink .header-second{
    margin-top: 0;
    transition: 300ms;
}
.header-text {
    color: #c72383;
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-left: 15px;
}
@font-face {
    font-family: 'fa';
    src: url(../fonts/FontAwesome.otf); 
    }
i.fa.fa-phone {
    margin-right: 5px;
    font-family: fa;
    color: #9d9d9e;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.header-right {
    display: flex;
    width: auto;
    font-size: 19px;
    line-height: 27px;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #373e4f;
    font-weight: 400;
    justify-content: space-between;
    transition: 300ms;
    align-items: center;
}
.menu-item:hover {
color: #c72383;
transition: 300ms;
}
.menu-item{
    margin-left: 25px;
}
.hamburger .line {
    width: 42px;
    height: 4px;
    background-color: #c72383;
    display: block;
    margin: 5px auto;
    border-radius: 5px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(14px) rotate(45deg);
  -ms-transform: translateY(14px) rotate(45deg);
  -o-transform: translateY(14px) rotate(45deg);
  transform: translateY(14px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-14px) rotate(-45deg);
  -ms-transform: translateY(-14px) rotate(-45deg);
  -o-transform: translateY(-14px) rotate(-45deg);
  transform: translateY(-14px) rotate(-45deg);
}
.hamburger {
    @include flexCenter;
    flex-direction: column;
    display: none;
}
.index-header {
    text-shadow: 2px 3.5px 4.8px rgba(0, 0, 0, 0.1);
    color: white;
    font-family: "PT Sans";
    font-size: 75px;
    font-weight: 700;
    line-height: 78px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 5%;
}
.index-desc {
    text-shadow: 2px 3.5px 4.8px rgba(0, 0, 0, 0.1);
    color: #e3e4e6;
    font-family: "PT Sans";
    font-size: 19px;
    font-weight: 400;
    line-height: 27px;
    text-transform: uppercase;
}












@import "media" // Всегда в конце